#main-content-wrapper {
    text-align: center;
}
#main-content {
    margin: 60px;
}

#recipe-list-wrapper {
    text-align: center;
}
#recipe-list {
    list-style-type: none;
}
.recipe-list-item {
    margin: 48px 0 16px 0;
}

.recipe-link:link, .recipe-link:visited {
    color: black;
}
.recipe-link:hover {
    color: blue;
}


#chef1 {
    display: none;
}

#chef2 {
    display: none;
}

#chef3 {
    display: none;
}