#main-content-wrapper {
    text-align: center;
}

#recipe-list-wrapper {
    text-align: center;
}
#recipe-list {
    list-style-type: none;
}

#chef1 {
    display: none;
}

#chef2 {
    display: none;
}

#chef3 {
    display: none;
}