* {
    border-color: red;
}

#main-content-wrapper {
    text-align: center;
    border-style: solid;
}
#main-content {
    margin: 60px;
    border-style: solid;
}
h1 {
    border-style: solid;
}
.header-text {
    font-weight: 200;
}

#recipe-list-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    border-style: solid;
}
#recipe-list {
    list-style-type: none;
    border-style: solid;
    padding: 0;
}
.recipe-list-item {
    margin: 24px;
    padding: 8px;
    width: fit-content;
    border-style: solid;
}

.recipe-link:link, .recipe-link:visited {
    color: black;
}
.recipe-link:hover {
    color: blue;
}


#chef1 {
    display: none;
}

#chef2 {
    display: none;
}

#chef3 {
    display: none;
}